resources/ERSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by jes (litu) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="attributeType">
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="value" use="required"/>
	</xs:complexType>
	<xs:complexType name="entityType">
		<xs:sequence>
			<xs:element name="attribute" type="attributeType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" use="required"/>
	</xs:complexType>
	<xs:element name="ermodel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="keystrategy" type="keystrategyType"/>
				<xs:element name="entity" type="entityType" maxOccurs="unbounded"/>
				<xs:element name="relation" type="relationType" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="keystrategyType">
		<xs:attribute name="strategy" type="xs:string" use="required"/>
		<xs:attribute name="generate" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="relationType">
		<xs:sequence>
			<xs:element name="source" type="sourceType"/>
			<xs:element name="target" type="targetType"/>
		</xs:sequence>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="direction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="bidirectional"/>
					<xs:enumeration value="unidirectional"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="sourceType">
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="cardinality" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="many"/>
					<xs:enumeration value="one"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="targetType">
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="cardinality" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="many"/>
					<xs:enumeration value="one"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
